{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فرم ثبت نام</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/registerStyle.css' %}" rel="stylesheet"/>
    <style>

    </style>
</head>
<body>
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg border border-2 border-dark rounded-3" method="post" enctype="multipart/form-data" id="registerForm">
        {% csrf_token %}
        <h1 style="text-align: center;"><span style="color: dodgerblue;">فروشگاه </span></h1>
        <h3>ثبت نام</h3>
        <hr>
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                <div class="error" id="{{ field.name }}_error"></div>
            </div>
        {% endfor %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success" role="alert" id="success-message">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <p>قبلا ثبت نام کرده اید؟ <a href="/login/">وارد شوید</a></p>
        <div class="btn-container" dir="ltr">

            <button type="button" class="btn btn-primary" onclick="window.location.href='/'">
                بازگشت به صفحه محصول
            </button>
            <button type="submit" class="btn btn-primary">ثبت نام</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('registerForm').addEventListener('submit', function (event) {
        var valid = true;
        var fields = ['first_name', 'last_name', 'username', 'password'];

        fields.forEach(function (field) {
            var input = document.getElementsByName(field)[0];
            var errorDiv = document.getElementById(field + '_error');

            if (input.value.trim() === '') {
                errorDiv.textContent = 'این فیلد نمی‌تواند خالی باشد';
                valid = false;
            } else {
                errorDiv.textContent = '';
            }
        });

        if (!valid) {
            event.preventDefault(); // Prevent form submission if validation fails
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            var successMessage = document.getElementById("success-message");
            if (successMessage) {
                successMessage.style.display = "none";
            }
        }, 1000); // 1000 milliseconds = 5 seconds
    });
</script>
</body>
</html>
