body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #161418;
    color: #eee;
    user-select: none;
    direction: rtl;
    text-align: right;
}

.glass-card {
    user-select: none;
    max-width: 500px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
    padding: 2rem;
}

.glass-card hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
}

.glass-card ins {
    text-decoration: none;
}

.glass-card .form-group {
    margin-bottom: 1rem;
}

.glass-card .form-group label {
    color: #fcfcfc;
    background: linear-gradient(45deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glass-card .form-group input {
    background-color: #3a3f4b;
    border: 1px solid #ffffff22;
    color: #eee;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.glass-card .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.glass-card .btn-container button {
    background-color: #2b00ff;
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s all;
}

.glass-card .btn-container button:hover {
    background-color: #000000;
}

.glass-card::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
}

.glass-card:hover {
    border: 1px solid #ffffff;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
}

.glass-card:hover::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
}


